.app{
    position: relative;
}

.user__header{
 position: fixed;
 top: 0;
 width: 100%;
 background: linear-gradient(to right, rgb(23, 167, 131), rgb(236, 169, 11));
 text-align: center;
 z-index: 1;
  .new__user__btn {
    margin: 1em 1.2em;
    width: 8em;
    padding: 0.5em;
    border-radius: 0.7em;
    color:#fff;
    background-color: #999;
    transition: scale .3s ease;
    &:hover {
        scale:1.1;
    }
  }
}


.user__container {
    flex-wrap: wrap;
    gap:2em;
    /* El padding es margen hacia afuera */
    padding: 8em 1em;
}